tr,td{
    border:3px;
    border-style: double;
    color: black;
}

td{
    height: 50px;
    width: 50px;
    background: white;
}

button{
    top: 2%;
    background-color: #463be7;
    color: #fff;
}

button:hover{
    background-color: black;
    transition: 0.7s;
}